project:
  type: website
  output-dir: docs

website:
  title: "probjects"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme:
      - united
      - brand
    css: styles.css
    toc: true



